html,
body {
  background: rgb(33, 39, 55);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  height: 100vh;
}

main {
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  width: 90%;
}

a {
  text-decoration: underline;
  color: white;
}

h3 svg {
  vertical-align: middle;
  margin-left: 20px;
}

p {
  color: #aaa;
}

section {
  margin-bottom: 80px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.badge {
  background: linear-gradient(315deg, white, orange);
  border-radius: 15px;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 15px;
}

.hero {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 300px;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.preview {
  width: 100%;
  max-width: 500px;
}

.project {
  border: 1px orange solid;
  border-radius: 30px;
  margin-top: 30px;
  padding: 30px;

  display: flex;
  justify-content: space-between;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10px;
  margin-bottom: 1em;
}

.text-gradient {
  background: linear-gradient(315deg, white, orange);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .project {
    display: block;
  }
}

/* Moving platform animation */

.scene {
  position: relative;
  width: 100%;
  height: 100px;
}

.platform {
  position: absolute;
  animation: movePlatform 8s ease-in-out infinite;
}

@keyframes movePlatform {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.cloud {
  position: absolute;
  top: 0%;
  left: 50%;
}

.cloud2 {
  position: absolute;
  top: 40%;
  left: 20%;
  opacity: 40%;
}
