html,
body {
  background: rgb(33, 39, 55);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
}

main,
header,
footer {
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}

footer {
  height: 20px;
}

h1,
h2,
p {
  margin-bottom: 10px;
}

p {
  color: #aaa;
}

section {
  margin-top: 80px;
}

a {
  text-decoration: underline;
  color: white;
}

.avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.badge {
  background: linear-gradient(315deg, white, orange);
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
}

.box {
  width: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.hero {
  align-items: center;
  text-align: center;
}

.navlinks {
  display: flex;
  max-width: 300px;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  width: 100%;
}

.project {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px orange solid;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-gradient {
  background: linear-gradient(315deg, white, orange);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 999px) {
  html,
  body {
    font-size: 1.5rem;
  }
  .feature {
    flex-direction: column;
  }
  .navlinks {
    max-width: 70%;
  }
  .navlinks svg {
    transform: scale(2);
    margin-top: 30px;
  }
}
