<section class="px-6 py-8 mx-auto lg:py-16 prose md:prose-lg lg:prose-xl">
  <h1 class="mb-2 text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl">
    There and back again
  </h1>
  <p class="mt-0 text-sm font-semibold">
    A programmer tale by Alexandre Betioli
  </p>

  <div class="my-8 w-full">
    <img
      class="aspect-square w-full rounded-xl"
      src="/pictures/me.webp"
      alt="Video thumbnail"
    />
  </div>

  <p>
    My first program was a quiz coded in a Windows 98 ".bat" file. It was
    created after long hours of exploring files on my computer, trying to
    understand how programs worked, and using a BASIC programming language book
    as a resource.
  </p>
  <p>
    When I discovered the Internet, I began researching how to create my own
    video game. I started by making my own CounterStrike map, then moved to
    programming a first-person shooter game in which the gun was a fish that
    shot fireworks. I found my passion in programming.
  </p>
  <p>
    My first website was a
    <a
      href="https://en.wikipedia.org/wiki/Photoblog"
      target="_blank"
      rel="noreferrer"
      >photolog</a
    >
    written in PHP and MySQL, which I created to share photos with my family.
    All family members could log in and post their photos. Facebook wasn't a
    thing yet.
  </p>
  <p>
    After graduating, I had the opportunity to work with diverse tech stacks,
    teams, and industries.
  </p>
  <p>
    When I worked at Objective, a medium-sized company with 100-200 developers,
    I found an opportunity to specialize in the front end, given that 99% of
    those developers were backend/desktop Java developers. Being a front-end
    developer allowed me to work on the newest company projects and with
    international customers, including Google.
  </p>
  <p>
    Outside of work, I always wanted to build something myself. So, I involved
    my friend Thiago in my craziest ideas, which led us to be finalists at the
    2013 Google Cloud Developer Contest and earn a Nexus7 tablet. We also
    started a 3D printing e-commerce, building our printers from scratch (this
    one deserves its own post). Later, we tried building video games and
    <a href="https://l9studios.com?utm_source=apbetioli.dev" target="_blank"
      >created a Unity asset</a
    >
    with 200+ sales in the Unity Asset Store.
  </p>
  <p>
    My son was born then, and I saw myself needing more time to continue with my
    outside work ideas. I sold my house, and I started my own company full-time
    with the house money. After studying marketing, I wanted to try selling
    online courses, so I started with a YouTube channel on 3d printing and
    created a 3d printing course. But it was too much work for me alone,
    creating content, editing videos, and doing marketing. So I convinced
    Mariana to join my venture, where she would create content and the courses,
    and I would focus on the tech and marketing. We sold 1500+ course
    subscriptions and
    <a
      href="https://mariubialli.com.br?utm_source=apbetioli.dev"
      target="_blank"
      >created a platform</a
    >
    for users to watch the courses. We've survived for almost three years until
    we ran out of money. I also missed being a full-time programmer.
  </p>
  <p>
    For the past two years, I've been working remotely for an AI company based
    in Berlin, creating tools for AI developers in the NLP field. It's an
    exciting time to work with ML and AI.
  </p>

  <p class="italic text-muted bg-gray-100 p-4">
    "Don't only practice your art but force your way into its secrets. For it
    and knowledge can raise men to the divine." - Ludwig Van Beethoven
  </p>
</section>
